.inner
	display: flex
	align-items: center
	justify-content: space-between

	h2
		color: white

.info
	width: 50%
	display: flex
	justify-content: space-evenly
	flex-direction: column
    

.desc
	font-family: 'Inter'
	font-style: normal
	font-weight: 400
	font-size: 18px
	line-height: 28px
	margin-top: 50px

.getBook
	width: 560px

@media (max-width: 1150px)
	.inner img
		width: 50%

@media (max-width: 950px)
	.inner 
		
		.info
			width: 80%
		img
			width: 40%

@media (max-width: 782px)
	.inner 
		h2
			font-size: 34px	
		.info
			width: 60%
		img
			width: 35%


@media (max-width: 650px)
	.inner 
		flex-direction: column
		
		h2
			font-size: 42px	
		.info
			width: 100%
		img
			width: 55%